<!DOCTYPE html>
<html>
<style>
table {
    border-collapse: collapse;
}
table, td, th {
    border: 1px solid black;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
	<h1>Jhin Calculator</h1><br>
	<table>
	  
	  <tr>
		<td>Hero Level</td>
		<td><input type="number" name="level"  ng-model="level" min="1" max="20" required></td>
	  </tr>
	  <tr>
		<td>AD</td>
		<td><input type="number" name="totalDamage"  min="1"  ng-model="ad" required></td>
	  </tr>
	  <tr>
		<td>Attack Speed from items %</td>
		<td><input value ="15"  type="number" name="attackspeed" min="0"  ng-model="attackspeed" required></td>
	  </tr>
	  <tr>
		<td>Crit % (0-100)</td>
		<td><input value ="10"  type="number" name="crit" min="0" max="100"  ng-model="crit" required></td>
	  </tr>
	  <tr>
		<td><input type="submit" id ="submit" ng-click="calc()"></td>
		<td> <span>{{result}}</span></td>
	  </tr>
	</table>
</div>

<script>
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.level= 4;
		$scope.ad= 55;
		$scope.attackspeed= 15;
		$scope.crit= 10;

		var jhinScaling = [0.02, 0.03, 0.04, 0.05, 0.06, 0.07, 0.08, 0.09, 0.1, 0.11, 0.12, 0.16, 0.2, 0.24, 0.28, 0.32, 0.36, 0.4, 0.44, 0.48];

		$scope.calc = function() {
			var resultInt = $scope.ad * (1 + jhinScaling[$scope.level-1] + (0.4 * ($scope.crit/100)) + (0.25 * ($scope.attackspeed/100)));
			$scope.result = "Total AD: " + resultInt.toFixed(2);
		};	
	});
</script>

</body>
</html>
